[submodule "AccessibilitySnapshot"]
	path = AccessibilitySnapshot
	url = git@github.com:RoyalPineapple/AccessibilitySnapshot.git
	branch = buttonheist
[submodule "ai-fuzzer"]
	path = ai-fuzzer
	url = git@github.com:RoyalPineapple/ai-fuzzer.git
